@model LocationModel

<h1>Локация с самым большим уровнем</h1>

<div>
    <h4>Название:</h4>
    <p>@Model.Name</p>
</div>

<div>
    <h4>Уровень локации:</h4>
    <p>@Model.Lvl</p>
</div>

<div>
    <h4>Континент:</h4>
    <p>@Model.Continent</p>
</div>


<a href="/Home" class="btn btn-secondary">Назад</a>