@model FactionModel

<h1>Самая популярная фракция</h1>

<div>
    <h4>Название:</h4>
    <p>@Model.Name</p>
</div>

<div>
    <h4>Столица:</h4>
    <p>@Model.Capital</p>
</div>

<div>
    <h4>Описание:</h4>
    <p>@Model.Description</p>
</div>


<a href="/Faction/Factions" class="btn btn-secondary">Назад</a>