@model RaceModel

<h1>Самая популярная начальная локация с названием фракции</h1>

<div>
    <h4>Название стартовой локации:</h4>
    <p>@Model.StartLocation</p>
</div>

<div>
    <h4>Название фракции:</h4>
    <p>@Model.Name</p>
</div>


<a href="/Faction/Factions" class="btn btn-secondary">Вернуться</a>